import("FLash")
#importFrom("foreach", "foreach")
import("FLCore")
exportClasses("FLBioDym","FLBioDyms","FLBDEcon")
export(
  "mseFLBioDym",
  "simFLBioDym",
  "FLBioDym",
  "FLBioDyms",
  "sp",
	"msy",
	"fmsy",
	"bmsy",
	"refptSE",
  "is.FLBioDym",
  "bounds",
  "plotSP",
  "priors",
  "summaryStats",
  "admbBD",
  "plotSP")
exportMethods(
  "FLBioDym",
  "FLBioDyms",
  "harvest<-",
  "harvest",
  "hcr",
  "hcrJK",
  "TAC",
  "sp",
	"msy",
	"fmsy",
	"bmsy",
	"refptSE",
  "plot",
  "coerce",
	"model",
  "catch",
  "catch<-",
	"index",
	"index<-",
  "refpts",
	"stock",
	"stock<-",
	"bounds",
	"priors",
	"params",
	"vcov",
	"logLik",
  "fwd",
  "residuals",
  "admbBD",
  "fitted",
  "fitted<-",
  "combine"
  )
