import("FLCore")
export("summary",
       "show")
exportClasses("FLBioDym")
exportMethods("FLBioDym",
              "fit",
              "fitted",
              "fwd",
              "residuals",
              "refpts",
              "refptSE",
              "r",
              "vb",
              "sp",
              "msy",
              "bmsy",
              "fmsy",
              "plot")
