import("FLCore")
import("FLash")
importFrom("ggplotFL",
  "diags")
exportClasses("FLBioDym")
export(
  "simFLBioDym",
  "FLBioDym",
  "sp",
	"msy",
	"fmsy",
	"bmsy",
	"refpts",
	"refptSE",
  "is.FLBioDym",
  "bounds",
  "plotSP",
  "priors",
  "summaryStats",                 
  "jacknifeSummary",
  "admbBD",
  "plotSP")
exportMethods(
  "FLBioDym",
  "harvest",
  "hcr",
  "TAC",
  "sp",
	"msy",
	"fmsy",
	"bmsy",
	"refpts",
	"refptSE",
  "plot",
  "diags",
  "coerce",
	"model",
	"catch",
	"index",
	"index<-",
	"stock",
	"stock<-",
	"bounds",
	"priors",
	"params",
	"vcov",
	"logLik",
  "fwd",
  "residuals",
  "admbBD",
  "fitted",
  "fitted<-"
  )
