importFrom("stats","cor","t.test")
import("FLCore")
exportClasses("pay", 
	"rpay", 
	"nay",
	"spay", 
	"logcc", 
	"z", 
	"logr", 
	"bmass")
exportMethods("bmass", 
	"plot", 
	"bubbles", 
	"cor", 
	"mv0", 
	"splom", 
	"logcc", 
	"logr", 
	"pay", 
	"rpay",
	"nay",
	"spay", 
	"bubbles", 
	"z", 
	"summary",
	"t.test",
  "units<-",
	"catch")
