useDynLib("FLAssess")
import("FLCore")
importFrom("graphics",
  "plot")
exportClasses("FLAssess",
  "FLAssess.retro",
  "FLSepVPA.control",
  "FLSP",
  "FLVPA",
  "projectControl")
export("assess",
  "FLSepVPA.control",
  "projectControl",
  "pellatom",
  "PellaTom",
  "pellatom_calcQ",
  "PellaTom_calcQ",
  "pellatom_calcSigma",
  "retro")
exportMethods(
  "+",
  "assess",
  "biomass",
  "harvest",
	"fitted",
  "harvest.rate",
	"index.hat",
	"index.hat<-",
	"index.name",
	"index.name<-",
	"index.range",
	"index.range<-",
	"index.res",
	"index.res<-",
  "merge",
  "plot",
  "retro",
  "project",
  "replace",
  "select",
  "SepVPA",
  "stf",
  "summary",
  "VPA",
  "FLSP",
    "FLAssess",
	"fmle",
    "Z")
