import("FLCore")
export("summary",
       "show")
exportClasses("FLPellaT")
exportMethods("FLPellaT",
              "fitted",
              "predict",
              "residuals",
              "msy",
              "fit",
              "plot")
