import("FLCore")
importFrom("FLBRP",
  "FLBRP",
  "brp",
  "refpts")
importFrom("FLash",
  "fwd",
  "fwdControl")
export("genBRP",
  "dnormal",
  "dnormal.capped",
  "dnormal.coleraine",
  "dnormal.plateau",
  "logistic",
  "logistic.double",
  "logistic.product",
  "richards",
  "richards.capped",
  "seldnc",
  "vonB")
