import(       "FLCore")
import(       "ggplotFL")
exportClasses("FLAdapt",
              "FLAdapts",
	      "FLAdaptControl",
              "FLAdaptControls")
exportMethods("+",
              "fit",
              "pro2box",
              "boot",
              "readPro2Box",
              "diags",
              "diags<-",
              "refpts",
              "refpts<-",
	      "FLAdaptControl")
export(       "is.FLAdapt",
              "is.FLAdaptControl",
              "is.FLAdapts",
              "is.FLAdaptControls",
              "write_c1VPA",
              "write_d1VPA",
              "write_p1VPA",
	      "write_quotas",
	      "write_disc",
	      "write_prjctlVPA",
	      "write_sel",
	      "write_recruit")
