useDynLib(FLsz)
importFrom("ggplotFL")
#importFrom("foreach", "foreach")
import("FLCore")
exportClasses("FLsz","FLszs")
export("ageIt","ageThem")
exportMethods(
  "FLsz",
  "FLszs",
  "plot",
  "diags",
  "diags",
  "ln2z",
  "coerce",
  "model",
  "n",
  "n<-",
  "obs",
  "obs<-",
  "bounds",
  "bounds<-",
  "priors",
  "params",
  "params<-",
  "se",
  "se<-",
  "hat",
  "hat<-",
  "residuals",
  "residuals<-",
  "vcov",
  "vcov<-",
  "logLik",
  "residuals",
  "fit")
