import("FLCore")
import("FLash")
export("summary",
       "show",
       "setInit")
exportClasses("FLBioDym")
exportMethods("FLBioDym",
              "fit",
              "fitted",
              "fwd",
              "residuals",
              "r",
              "vb",
              "sp",
              "refpts",
              "msy",
              "bmsy",
              "fmsy",
              "plot",
              "diags")
