importClassFrom("FLCore", "FLQuant")
importClassFrom("FLCore", "FLPar")
export(calcK)
export(mseBiodyn)
exportClasses(biodyn)
export(is.biodyn)
exportMethods(biodyn)
exportMethods(biodyns)
exportMethods(msy)
exportMethods(bmsy)
exportMethods(fmsy)
exportMethods(computeSP)
exportMethods(fwd)
exportMethods(hcr)
export(hcr.)
export(hcrFn)
exportMethods(tac)
exportMethods(fit)
exportMethods(plot)
exportMethods(refpts)
exportMethods("params")
exportMethods("params<-")
exportMethods("setParams<-")
exportMethods("control")
exportMethods("control<-")
exportMethods("setControl<-")
export(plotSP)	
exportMethods(kobe)	
