export(calcK)
exportClasses(biodyn)
export(hcrParams)
export(is.biodyn)
exportMethods(biodyn)
exportMethods(biodyns)
exportMethods(bmsy)
exportMethods(computeSP)
exportMethods(fit)
exportMethods(fmsy)
exportMethods(fwd)
exportMethods(hcr)
exportMethods(hcrPlot)
exportMethods(kobePhase)
exportMethods(msy)
exportMethods(plot)
exportMethods(power)
exportMethods(profile)
exportMethods(refpts)
exportMethods("setControl<-")
exportMethods("setParams<-")
exportMethods(tac)
export(plotSP)
