importFrom("ggplot2",
  "ggplot")
import("FLCore")
export(
  "admbIn",
  "admbOut",
  "decade",
  "getClassMethods",
  "imageDef",
  "plotCatches",
  "readVPA2Box",
  "readVPA2BoxOld",
  "readPro2Out",
  "readPro2Sta",
  "readPro2Refpts",
  "readBinary",
  "rndWlkFn"
  "smryClass")
exportMethods(
	"+",
	"-",
	"/",
	"*",
	"ageIt",
	"ages",
  "as.data.frame",
	"ageThem",
  "brpByYr",
	"computeSel",
	"expand",
  "FLQuants<-",
  "iccatMonth",
  "setPlusGroup",
  "sel<-",
  "wt<-",
  "computeSel",
  "discardsSel",
	"diags",
	"fav",
  "getClassMethods",
  "gompertz",
  "ggplot",
  "pgAge",
	"plot",
	"plotDiags",
  "quantCumSum",
  "landingsSel",
  "latLon",
  "len2wt",
  "reFac",
  "sopCorrect",
  "survivors",
  "tep",
  "vonB",
  "vonBMass",
  "invVonB",
  "invVonBMass",
  "z")
