useDynLib("FLash")
import("FLCore")
export("calcF",
       "expandAgeFLStock")
exportClasses("fwdControl")
exportMethods("fwd",
              "fwdControl",
              "+",
              "show",
            "setSR")
