useDynLib("FLash")
import("FLCore")
export("calcF",
       "expandAgeFLStock",
       "SRchar2code")
exportClasses("fwdControl")
exportMethods("fwd",
              "fwdControl",
              "+",
              "show",
              "setSR")
