useDynLib("FLash")
import("FLCore")
export("SRchar2code")
exportClasses("fwdControl")
exportMethods("harvest",
              "computeHarvest",
              "fwd",
              "fwdControl",
              "+",
              "show",
              "setSR")
export(       "OEMStock",
              "OEMSurvey",
              "OEMCpue",
              "biasLinear",
              "vpaMP",
              "hcr",
              "runMSE")
