useDynLib("SQLiteFL")
import("FLCore")
exportClasses(
  "sqliteFL",
  "sqliteFLComp",
  "sqliteFLBiol",
  "sqliteFLQuant",
  "sqliteFLStock",
  "sqliteFLlst")
exportMethods(
  "catch",
  "catch<-",
  "catch.n",
  "catch.n<-",
  "catch.wt",
  "catch.wt<-",
  "dims",
  "discards",
  "discards<-",
  "discards.n",
  "discards.n<-",
  "discards.wt",
  "discards.wt<-",
  "fec",
  "fec<-",
  "harvest",
  "harvest<-",
  "harvest.spwn",
  "harvest.spwn<-",
  "landings",
  "landings<-",
  "landings.n",
  "landings.n<-",
  "landings.wt",
  "landings.wt<-",
  "m",
  "m<-",
  "m.spwn",
  "m.spwn<-",
  "mat",
  "mat<-",
  "n",
  "n<-",
  "spwn",
  "spwn<-",
  "sql",
  "stock",
  "stock<-",
  "stock.n",
  "stock.n<-",
  "stock.wt",
  "stock.wt<-",
  "summary",
  "unsql",
  "wt",
  "wt<-")
