useDynLib(aspic)
import("ggplotFL")
import("FLCore")
exportClasses(    "aspic",
	          "aspics",
                  "aspicControl",
                  "aspicpControl",
                  "cpue",
                  "cpues")
exportMethods(    "fwd",
                  "spFn")
export(           "is.aspic",
                  "is.aspicControl")
