useDynLib(aspic)

importFrom("ggplotFL")
#importFrom("foreach", "foreach")
import("FLCore")

exportClasses(    "aspic",
	                "aspics",
                  "aspicControl",
                  "aspicpControl",
                  "cpue",
                  "cpues")
exportMethods(    "aspic",
                  "aspicControl",
                  "aspicp",
                  "fit",
                  "boot",
                  "diags",
                  "aspicpControl",
                  "aspicCpues",
                  "fwd",
                  "spFn")
export(           "is.aspic",
                  "is.aspicControl")
