import("FLBRP")
exportClasses("FLIndexPM")
importFrom("graphics",
  "plot")
export(
  "srModel",
  "getLnWt",
  "nd",
	"readFLStock",
  "getMassAge",
  "cor2cov",
  "OEMIndex",
  "fapex",
  "catchSel",
  "landingsSel",
  "discardsSel",
  "ricker",
  "bevholt",
  "segreg",
  "shepherd",
  "shepherdD",
  "shepherdSV",
  "rickerSV",
  "bevholtSV",
  ".shepherdSV",
  ".rickerSV",
  ".bevholtSV",
  "sv2ab",
  "ab2sv",
  "loglAR1")
exportMethods(
  "autoParscale",
  "predictFLModel",
  "lprof",
  "spr0",
  "sigma",
  "OEM",
  "qmin",
  "qmax",
  "lprof",
  "OEM",
  "alphaBeta",
  "steepVirgin",
  "lprof",
  "lowess",
  "plot")
