import("FLCore")
exportClasses("FLSR")
importFrom("graphics",
  "plot")
export(
  "ab",
  "srr",
  "srrSV",
  "srrFunc",
  "srModel",
  "bevholt",
  "ricker",
  "shepherd",
  "cushing",
  "geomean",
  "segreg",
  "predictFLModel",
  "loglAR1")
exportMethods(
  "sigma",
  "rSq",
  "loglAR1",
  "autoParscale",
  "lprof",
  "sigma",
  "lprof",
  "lowess",
  "plot",
  "predict")
