import("FLCore")
exportClasses("FLSR")
importFrom("graphics",
  "plot")
export(
  "ab",
  "srModel",
  "bevholt",
  ".bevholt",
  ".bevholtSV",
  "ricker",
  ".ricker",
  ".rickerSV",
  "shepherd",
  ".shepherd",
  ".shepherdSV",
  "cushing",
  ".cushing",
  ".cushingSV",
  "geomean",
  ".geomean",
  ".geomeanV",
  "dersch",
  ".dersch",
  "pellat",
  ".pellat",
  "segreg",
  ".segreg",
  ".segregSV",
  "predictFLModel",
  "sv2ab",
  "ab2sv",
  "loglAR1")
exportMethods(
  "sigma",
  "rSq",
  "loglAR1",
  "autoParscale",
  "lprof",
  "sigma",
  "lprof",
  "lowess",
  "plot",
  "predict")
