useDynLib("SQLiteFL")
import("FLCore")
exportClasses("sqliteFL",
  "sqliteFLQuant",
  "sqliteFLComp",
  "sqliteFLlst")
exportMethods("sql",
  "catch",
  "catch<-",
  "catch.n",
  "catch.n<-",
  "catch.wt",
  "catch.wt<-",
  "landings",
  "landings<-",
  "landings.n",
  "landings.n<-",
  "landings.wt",
  "landings.wt<-",
  "discards",
  "discards<-",
  "discards.n",
  "discards.n<-",
  "discards.wt",
  "discards.wt<-",
  "harvest",
  "harvest<-",
  "harvest.spwn",
  "harvest.spwn<-",
  "m",
  "m<-",
  "m.spwn",
  "m.spwn<-",
  "mat",
  "mat<-",
  "stock",
  "stock<-",
  "stock.n",
  "stock.n<-",
  "stock.wt",
  "stock.wt<-",
  "summary",
  "unsql",
  "dims")
