useDynLib("FLBRP")
import("FLCore",
       "FLash")
importFrom("graphics",
  "plot")
exportClasses("FLBRP",
  "refpts")
exportMethods("show",
  "refpts",
  "refpts<-",
  "FLBRP",
  "fbar",
  "fbar.obs",
  "landings.obs",
  "discards.obs",
  "rec.obs",
  "ssb.obs",
  "profit.obs",
#  "stock.n",
#  "landings.n",
#  "discards.n",
  "landings.sel",
  "discards.sel",
  "bycatch.harvest",
  "stock.wt",
  "landings.wt",
  "discards.wt",
  "bycatch.wt",
  "m",
  "mat",
  "harvest.spwn",
  "m.spwn",
  "availability",
  "price",
  "vcost",
  "fcost",
  "fbar<-",
  "fbar.obs<-",
  "landings.obs<-",
  "discards.obs<-",
  "rec.obs<-",
  "ssb.obs<-",
  "profit.obs<-",
#  "stock.n<-",
#  "landings.n<-",
#  "discards.n<-",
  "landings.sel<-",
  "discards.sel<-",
  "harvest<-",
  "bycatch.harvest<-",
  "stock.wt<-",
  "landings.wt<-",
  "discards.wt<-",
  "bycatch.wt<-",
  "m<-",
  "mat<-",
  "harvest.spwn<-",
  "m.spwn<-",
  "availability<-",
  "price<-",
  "vcost<-",
  "fcost<-")
