useDynLib("FLBRP")
import("FLCore")
importFrom("FLash",
  "SRchar2code")
exportClasses("FLBRP",
  "refpts")
exportMethods(
  "coerce",
  "biomass.obs",
  "catch",
  "catch.hat",
  "catch.n",
  "catch.obs",
  "catch.sel",
  "catch.wt",
  "discards",
  "discards.hat",
  "kobe",
  "kobeProb",
  "landings",
  "landings.hat",
  "stock",
  "stock.hat",
  "ssb",
  "ssb.hat",
  "computeFbar",
  "revenue",
  "cost",
  "rec",
  "rec.hat",
  "profit",
  "profit.hat",
  "sp",
  "spr",
  "spr0",
  "ypr",
  "computeRefpts",
  "harvest",
  "brp",
  "hcrYield",
  "yield",
  "yield.hat",
  "yield.obs",
  "show",
  "refpts",
  "refpts<-",
  "FLBRP",
  "r",
  "fbar",
  "fbar.obs",
  "landings.obs",
  "discards.obs",
  "rec.obs",
  "ssb.obs",
  "profit.obs",
  "stock.n",
  "landings.n",
  "discards.n",
  "landings.sel",
  "discards.sel",
  "bycatch.harvest",
  "stock.wt",
  "landings.wt",
  "discards.wt",
  "bycatch.wt",
  "m",
  "mat",
  "harvest.spwn",
  "m.spwn",
  "availability",
  "price",
  "vcost",
  "fcost",
  "fbar<-",
  "fbar.obs<-",
  "landings.obs<-",
  "discards.obs<-",
  "rec.obs<-",
  "ssb.obs<-",
  "profit.obs<-",
  "landings.sel<-",
  "discards.sel<-",
  "bycatch.harvest<-",
  "stock.wt<-",
  "landings.wt<-",
  "discards.wt<-",
  "bycatch.wt<-",
  "m<-",
  "mat<-",
  "harvest.spwn<-",
  "m.spwn<-",
  "availability<-",
  "price<-",
  "msy",
  "vcost<-",
  "fcost<-",
  "iter")
export("f0.1",
  "fmax")
