export("kobeAspic",
       "kobeMFCL",
       "kobe2box",
       "kobeSS3",
       
       "kobeProb",
   
       "kobeInterp", 
       "kobePhaseMar",
        
       "theme_ms", "multiplot")
exportMethods("kobeTrks",
              "kobeP",
              "kobePhase",
              "kobeShade",
              "kobeSmry")
