export("kobeAspic",
       "kobeMFCL",
       "kobe2box",
       "kobeSS3",
       
       "kobeProb",  
   
       "kobePhaseMar",    
       "theme_flr",
       "multiplot")
exportMethods("kobeTrks",
              "kobeP",
              "kobePhase",
              "kobeShade",
              "kobeSmry",
              "kobe2sm")
