useDynLib("FLAdvice")

import("FLCore")

exportClasses(
  "FLBRP",
  "FLBRPs",
  "refpts")

export(
  "shepherdCovB",
  "kobe",
  "kobeP",
  "kobeM",
  "kobeL",
  "kobeS",
  "fwdSetup",
  "OEMStock",
  "OEMSurvey",
  "OEMCpue",
  "misAgeing",
  "biasLinear",
  "vpaMP",
  "hcr",
  "runMSE")
exportMethods(
	"Arith",
	"FLBRP",
	"FLBRPs",
	"model",
	"model<-",
	"params",
	"params<-",
	"fbar",
	"fbar<-",
	"fbar.obs",
	"fbar.obs<-",
	"landings.obs",
	"landings.obs<-",
	"discards.obs",
	"discards.obs<-",
	"rec.obs",
	"rec.obs<-",
	"recycle6d<-",
	"ssb.obs",
	"ssb.obs<-",
	"profit.obs",
	"profit.obs<-",
	"revenue.obs",
	"revenue.obs<-",
	"landings.sel",
	"landings.sel<-",
	"discards.sel",
	"discards.sel<-",
	"bycatch.harvest",
	"bycatch.harvest<-",
	"stock.wt",
	"stock.wt<-",       
	"landings.wt",
	"landings.wt<-",
	"discards.wt",
	"discards.wt<-",
	"bycatch.wt",
	"bycatch.wt<-",
	"m",
	"m<-",
	"mat",
	"mat<-",
	"harvest.spwn",
	"harvest.spwn<-",
	"m.spwn",
	"m.spwn<-",
	"availability",
	"availability<-",
	"price",
	"price<-",
	"vcost",
	"vcost<-",
	"fcost",
	"fcost<-",
  "setPlusGroup",
  "coerce",
  "as.data.frame",
  "refpts",
  "refpts<-",
  "show",
  "msy",
  "spr",
  "spr0",
  "ages",
  "len2wt",
  "wt2len",
  "vonB",
  "invVonB",
  "gompertz",
  "logistic",
  "richards",
  "doubleNormal",
  "schnute",
  "schnuteMass",
  "mnSwt",
  "mnCwt",
  "mnLwt",
  "mnLen",
  "wt2z",
  "ln2z",
  "plot",
  "recycle6d<-",
  "coerce",
  "gislaSim",
  "landings.n",
  "discards.n",
  "stock.n",
  "catch.n",
  "catch.wt",
  "catch.sel",
  "catch.obs",
  "biomass.obs",
  "yield.obs",
  "computeFbar",
  "rec",
  "rec.hat",
  "harvest",
  "ypr",
  "computeRefpts",
  "brp",
  "hcrYield",
  "propagate",
  "iter",
  "catch",
  "catch.hat",
  "yield",
  "yield.hat",
  "discards",
  "discards.hat",
  "landings",
  "landings.hat",
  "stock",
  "stock.hat",
  "ssb",
  "ssb.hat",
  "revenue.hat",
  "revenue",
  "cost",
  "profit",
  "profit.hat",
  "r",
  "sp"
  )
