useDynLib(FLln2z)
import("FLCore")		
importFrom("ggplotFL")	
export(
       "summary",
       "show",
       "is.FLln2z")
exportClasses("FLln2z")
exportMethods("ageIt",
              "ageThem",
              "breaks<-",
              "doubleNormal",
              "FLln2z",
              "hat",
              "logistic",
              "gompertz",
              "ln2z",
              "mnSln",
              "mnCln",
              "mnDln",
              "mnLln",
              "mnSwt",
              "mnCwt",
              "mnDwt",
              "mnLwt",
              "seine",
              "residuals",
              "plot",
              "vonB")

