importFrom("ggplot2","ggplot")
importClassesFrom("FLCore",
"FLQuant",
"FLCohort",
"FLComp",
"FLQuants",
"FLComps")
exportMethods(
  "diags",
  "ggplot",
  "plot",
  "plotDiags",
  "plotEP")
importFrom("FLCore",
  "plot",
  "quantile",
  "apply",
  "FLQuants",
  "as.data.frame")
export("mytheme")
