useDynLib("FLAdvice")
import("FLCore")
importFrom("ggplot2",
  "ggplot")
importFrom("FLash",
  "SRchar2code")
exportClasses(
  "refpts",
  "FLBRP")
exportMethods(
  "plot",
  "landings.n",
  "stock.n",
  "catch.n",
  "catch.wt",
  "catch.sel",
  "biomass.obs",
  "yield.obs",
  "discards.n",
  "computeFbar",
  "rec.hat",
  "harvest",
  "ypr",
  "computeRefpts",
  "brp",
  "hcrYield",
  "propagate",
  "iter",
  "catch",
  "catch.hat",
  "yield",
  "yield.hat",
  "discards",
  "discards.hat",
  "landings",
  "landings.hat",
  "stock",
  "stock.hat",
  "ssb",
  "ssb.hat",
  "revenue",
  "revenue.hat",
  "cost",
  "profit",
  "profit.hat",
  "r",
  "sp",
  "model",
  "params",
  "fbar",
  "fbar.obs",
  "landings.obs",
  "discards.obs",
  "rec.obs",
  "ssb.obs",
  "stock.obs",
  "profit.obs",
  "revenue.obs",
  "landings.sel",
  "discards.sel",
  "bycatch.harvest",
  "stock.wt",
  "landings.wt",
  "discards.wt",
  "bycatch.wt",
  "m",
  "mat",
  "harvest.spwn",
  "m.spwn",
  "availability",
  "price",
  "vcost",
  "fcost",
  "setPlusGroup",
  "spr",
  "refpts",
  "refpts<-",
  "show",
  "coerce",
  "as.data.frame",
  "FLBRP",
  "npv")

export(
  "f0.1",
  "fmax",
  "sprr"
  )
